@model ZodiacoWebApp.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apeMaterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apeMaterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apePaterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apePaterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cuestionarioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cuestionarioId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idUsuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
